body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

svg {
    animation: show 0.5s;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
}