body {
    color: #888;
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.page {
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s;
}

.page.active {
    transform: scale(1);
    opacity: 1;
}

#welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome,
#message-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #888;
    font-size: 40px;
    width: 300px;
    height: 200px;
    animation: slide-up 1s;
}

#welcome div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#welcome>div {
    width: 280px;
}

#welcome>div div,
#select-mode,
#clean-board {
    font-size: 20px;
    width: 120px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    margin: 0px auto;
}

.click-control {
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #888;
    background-color: #f2f2f2;
    transition: all 0.5s;
    border-radius: 5px;
}

.click-control:hover {
    color: #f2f2f2 !important;
    background-color: #888;
    border-color: #888;
}

.click-control:active {
    transform: scale(0.8);
}

#game-start,
#clean-board.for-O {
    color: #dc143c;
}

#game-start:hover,
#clean-board.for-O:hover {
    background-color: #dc143c;
    border-color: #dc143c;
}

#select-mode,
#clean-board {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#game-rules,
#select-mode,
#clean-board.for-X {
    color: #4169e1;
}

#game-rules:hover,
#select-mode:hover,
#clean-board.for-X:hover {
    background-color: #4169e1;
    border-color: #4169e1;
}

#select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 340px;
    height: 340px;
    margin: 0 auto;
}

#select div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}

#board-page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#rules-page {
    overflow: auto;
    padding: 10px;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(calc(50vh - 200px));
    }
}

h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 10px;
}

h2 {
    font-weight: normal;
    font-size: 25px;
    margin: 15px;
}

ul {
    padding-left: 30px;
}

.board {
    margin: 10px;
}

#message-box {
    background-color: #f2f2f2;
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 150px);
    border-width: 2px;
    border-color: #888;
    border-style: solid;
    border-radius: 5px;
    display: none;
}