#help-page {
    #help-desc {
        width: 100%;
        height: 60px;
    }

    #help-prev {
        background-color: royalblue;
        background-image: url(../../svg/btn/prev.svg);
    }

    #help-next {
        background-color: crimson;
        background-image: url(../../svg/btn/next.svg);
    }

    #help-board {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 120px);
    }
}
