#main-page {
    & {
        justify-content: center;
    }

    #main-title {
        font-size: 90px;
        font-family: sans-serif;
    }

    .to-game-page {
        background-color: crimson;
        background-image: url(../../svg/btn/play.svg);
    }

    .to-help-page {
        background-color: royalblue;
        background-image: url(../../svg/btn/help.svg);
    }
}
