body {
    color: #888;
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.page {
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s;
}

.page.active {
    transform: scale(1);
    opacity: 1;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(calc(50vh - 200px));
    }
}

.align-central {
    display: flex;
    align-items: center;
    justify-content: center;
}